extends layout

block content
  h2 Register to #[em My Routes] restricted area

  if message && error
    .alert.alert-danger(role="alert") #{message}
  else if message
    .alert.alert-success(role="alert") #{message}

  form(method="post",action="/auth/registerUser")
    sub Username:
    br
    input(type="text",name="username")
    br
    sub Password:
    br
    input(type="password",name="password")
    br
    input(type="submit",value="Register",style="margin-top:5px;").btn.btn-info